In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("Export_reference__mots_clefs.xlsx")
df

,REFERENCE,TITRE,MOTCLE,Unnamed: 3,Unnamed: 4
0,SPA 82 A 2979,Chanak Kalessi. Vue de la ville. [Légende d'or...,Militaire ; Ville ; Paysage ; Transport mariti...,NaN,NaN
1,D0388-020-001-2179,(F[or]t D[auphin]). Bastion du fort Flacourt. ...,Infrastructure militaire ; Bastion ; Architect...,NaN,NaN
2,D0370-002-001-0009,Mansouria. 1958. [légende d'origine],Population civile ; Soigner ; Béret ; Montre ;...,NaN,NaN
3,D0370-002-001-0010,Mansouria. 1958. [légende d'origine],Population civile ; Soigner ; Béret ; Montre ;...,NaN,NaN
4,D0370-002-001-0011,Mansouria. 1958. [légende d'origine],Population civile ; Soigner ; Troupes aéroport...,NaN,NaN
...,...,...,...,...,...
132114,2021_ECPAD_053_X_003_435,Le musée de l'Ordre de la Libération.,Musée ; Libération ; Drapeau ; Armée Allemagne...,NaN,NaN
132115,2021_ECPAD_053_X_003_438,Le musée de l'Ordre de la Libération.,Musée ; Libération ; Drapeau ; Croix de Lorraine,NaN,NaN
132116,2021_ECPAD_053_X_003_439,Le musée de l'Ordre de la Libération.,Musée ; Libération ; Drapeau ; Croix de Lorraine,NaN,NaN
132117,2021_ECPAD_053_X_003_444,Le musée de l'Ordre de la Libération.,Musée ; Libération ; Drapeau ; Armée Allemagne...,NaN,NaN
132118,2021_ECPAD_053_X_003_445,Le musée de l'Ordre de la Libération.,Musée ; Libération ; Drapeau ; Armée Allemagne...,NaN,NaN

In [3]:
df.dtypes

REFERENCE     object
TITRE         object
MOTCLE        object
Unnamed: 3    object
Unnamed: 4    object
dtype: object

In [4]:
df = df.drop(["Unnamed: 3","Unnamed: 4"], axis=1).astype("str")

In [5]:
df_mot_cle = df["MOTCLE"]

def split_word(el : str):
    return el.split(";")
df_mot_cle = df_mot_cle.apply(split_word)
df_mot_cle

0         [Militaire ,  Ville ,  Paysage ,  Transport ma...
1         [Infrastructure militaire ,  Bastion ,  Archit...
2         [Population civile ,  Soigner ,  Béret ,  Mont...
3         [Population civile ,  Soigner ,  Béret ,  Mont...
4         [Population civile ,  Soigner ,  Troupes aérop...
                                ...
132114    [Musée ,  Libération ,  Drapeau ,  Armée Allem...
132115    [Musée ,  Libération ,  Drapeau ,  Croix de Lo...
132116    [Musée ,  Libération ,  Drapeau ,  Croix de Lo...
132117    [Musée ,  Libération ,  Drapeau ,  Armée Allem...
132118    [Musée ,  Libération ,  Drapeau ,  Armée Allem...
Name: MOTCLE, Length: 132119, dtype: object

In [6]:
import random
random.shuffle(df_mot_cle)
df_mot_cle[:100]

0     [Présentation de matériel ,  1er REC ,  AMX-10...
1     [Cérémonie ,  Camp militaire ,  Remise de déco...
2     [Aéroport ,  Evacuation Sanitaire ,  Arrivée ,...
3     [Opération Barkhane ,  Armée Mali ,  Casque , ...
4     [Population civile ,  Portrait ,  Femme ,  Per...
                            ...
95    [Fonds privés ,  Mer ,  Côte ,  Littoral ,  Em...
96         [Echelle ,  Visite ,  Forêt ,  Fonds privés]
97                 [Ferme ,  Ruine ,  Paysage ,  Arbre]
98                                   [Chien ,  Village]
99    [Prise d'armes ,  DGA ,  Remise de décoration ...
Name: MOTCLE, Length: 100, dtype: object

Perform a One hot encoding with sklearn

In [7]:
def delete_quote(l: [str]):
    for i,s in enumerate(l):#type: str
        l[i] = s.replace('"',"").replace(" ","")
    return l
df_mot_cle = df_mot_cle.map(delete_quote)

In [8]:
from sklearn.preprocessing import MultiLabelBinarizer
df_light = df_mot_cle[:10000]
mlb = MultiLabelBinarizer()

res = pd.DataFrame(mlb.fit_transform(df_light),columns=mlb.classes_,index=df_light.index)
res

,105mm,105mmCAM1917,105mmHM2A1(France),105mmHowM2A1(France),105mmHowM2A1(Viêtnam),105mmM2(France),105mmM2A1,105mmM7Priest(France),105mmobusier,106mmSR,...,Zeppelin,Zodiac,Zoneneutre,Zoo,Zoologie,Zouave,auditeur,nan,sMG-08,tournéed'inspection
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
len(res)

10000

In [10]:
sum_df = res.sum().sort_values(ascending=False)
sum_df

Portrait                  979
Soldat                    669
Exercice                  647
Cérémoniemilitaire        632
Arbre                     627
                         ...
Blindédereconnaissance      1
PlateformePéchot            1
BlindéUkraine               1
BlindéItalie                1
tournéed'inspection         1
Length: 4221, dtype: int64


Display in percentage

In [11]:
sum_df.apply(lambda x: x/len(res)*100)

Portrait                  9.79
Soldat                    6.69
Exercice                  6.47
Cérémoniemilitaire        6.32
Arbre                     6.27
                          ...
Blindédereconnaissance    0.01
PlateformePéchot          0.01
BlindéUkraine             0.01
BlindéItalie              0.01
tournéed'inspection       0.01
Length: 4221, dtype: float64

In [13]:
biggest_df = sum_df[:100]
biggest_df

Portrait               979
Soldat                 669
Exercice               647
Cérémoniemilitaire     632
Arbre                  627
                      ...
Insigne                160
Alat                   158
Postedecommandement    158
Epave                  156
Casquebleu             156
Length: 100, dtype: int64

# Create COCO FORMAT ANNOTATION
## CATEGORIES

In [14]:
import json

In [70]:
L_categories = []
categories = {}
for i, ind in enumerate(biggest_df.index):
  L_categories.append({"id" : i,
            "name": ind,
            "supercategory": "none"})
  categories[ind] = i
with open("categories.json", "w", encoding="utf-8") as outfile:
    json.dump({"categories": L_categories}, outfile, indent=4, ensure_ascii=False)

##IMAGES

In [34]:
encoded = res[biggest_df.index]
encoded = encoded.replace(0, np.nan)
encoded = encoded.dropna(how='all', axis=0)
encoded = encoded.replace(np.nan, 0)
indx = encoded.index

In [41]:
df_trimmed = df.iloc[indx]

In [71]:
L_images = []
for i, name in enumerate(df_trimmed["REFERENCE"]):
  L_images.append({"id" : i,
            "file_name": name
            })
with open("images.json", "w", encoding="utf-8") as outfile:
    json.dump({"images": L_images}, outfile, indent=4, ensure_ascii=False)

## ANNOTATIONS

In [51]:
list(df_trimmed["MOTCLE"])[0].replace(" ","").split(";")

['Infrastructuremilitaire',
 'Bastion',
 'Architecturemilitaire',
 'Végétation',
 'Arbre',
 'Fort']

In [53]:
chosen_keywords = list(biggest_df.index)

In [52]:
for i in list(df_trimmed["MOTCLE"])[0].replace(" ","").split(";"):
  if i in chosen_keywords:
    print(i)

Arbre

In [72]:
L_annotations = []
id = 0
for image_id, keywords in enumerate(df_trimmed["MOTCLE"]):  
  for words in keywords.replace(" ","").split(";"):
    if words in categories:
      L_annotations.append({"id" : id,
                "image_id": image_id,
                "category_id": categories[words],
                "bbox": [],
                "area": 0,
                "segmentation": [],
                "iscrowd": 0
                })
      id+=1
with open("annotations.json", "w", encoding="utf-8") as outfile:
    json.dump({"annotations": L_annotations}, outfile, indent=4, ensure_ascii=False)

In [73]:
with open("annotations_coco.json", "w", encoding="utf-8") as outfile:
    json.dump({"categories": L_categories,
               "images": L_images,
               "annotations": L_annotations}, outfile, indent=4, ensure_ascii=False)