In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_excel("Export_reference__mots_clefs.xlsx")
df

,REFERENCE,TITRE,MOTCLE,Unnamed: 3,Unnamed: 4
0,SPA 82 A 2979,Chanak Kalessi. Vue de la ville. [Légende d'or...,Militaire ; Ville ; Paysage ; Transport mariti...,NaN,NaN
1,D0388-020-001-2179,(F[or]t D[auphin]). Bastion du fort Flacourt. ...,Infrastructure militaire ; Bastion ; Architect...,NaN,NaN
2,D0370-002-001-0009,Mansouria. 1958. [légende d'origine],Population civile ; Soigner ; Béret ; Montre ;...,NaN,NaN
3,D0370-002-001-0010,Mansouria. 1958. [légende d'origine],Population civile ; Soigner ; Béret ; Montre ;...,NaN,NaN
4,D0370-002-001-0011,Mansouria. 1958. [légende d'origine],Population civile ; Soigner ; Troupes aéroport...,NaN,NaN
...,...,...,...,...,...
132114,2021_ECPAD_053_X_003_435,Le musée de l'Ordre de la Libération.,Musée ; Libération ; Drapeau ; Armée Allemagne...,NaN,NaN
132115,2021_ECPAD_053_X_003_438,Le musée de l'Ordre de la Libération.,Musée ; Libération ; Drapeau ; Croix de Lorraine,NaN,NaN
132116,2021_ECPAD_053_X_003_439,Le musée de l'Ordre de la Libération.,Musée ; Libération ; Drapeau ; Croix de Lorraine,NaN,NaN
132117,2021_ECPAD_053_X_003_444,Le musée de l'Ordre de la Libération.,Musée ; Libération ; Drapeau ; Armée Allemagne...,NaN,NaN
132118,2021_ECPAD_053_X_003_445,Le musée de l'Ordre de la Libération.,Musée ; Libération ; Drapeau ; Armée Allemagne...,NaN,NaN

In [9]:
df.dtypes

REFERENCE     object
TITRE         object
MOTCLE        object
Unnamed: 3    object
Unnamed: 4    object
dtype: object

In [10]:
df = df.drop(["Unnamed: 3","Unnamed: 4"], axis=1).astype("str")

In [11]:
df_mot_cle = df["MOTCLE"]
def split_word(el : str):
    return el.split(";")
df_mot_cle = df_mot_cle.apply(split_word)
df_mot_cle

0         [Militaire ,  Ville ,  Paysage ,  Transport ma...
1         [Infrastructure militaire ,  Bastion ,  Archit...
2         [Population civile ,  Soigner ,  Béret ,  Mont...
3         [Population civile ,  Soigner ,  Béret ,  Mont...
4         [Population civile ,  Soigner ,  Troupes aérop...
                                ...
132114    [Musée ,  Libération ,  Drapeau ,  Armée Allem...
132115    [Musée ,  Libération ,  Drapeau ,  Croix de Lo...
132116    [Musée ,  Libération ,  Drapeau ,  Croix de Lo...
132117    [Musée ,  Libération ,  Drapeau ,  Armée Allem...
132118    [Musée ,  Libération ,  Drapeau ,  Armée Allem...
Name: MOTCLE, Length: 132119, dtype: object

Perform a One hot encoding with sklearn

In [12]:
from sklearn.preprocessing import MultiLabelBinarizer
df_light = df_mot_cle[:30000]
mlb = MultiLabelBinarizer()

res = pd.DataFrame(mlb.fit_transform(df_light),columns=mlb.classes_,index=df_light.index)
res

,"""Abeille Bourbon""","""Abeille Flandre""","""Amiral Mouchez""","""Andromède""","""Argens""","""Ariane""","""Atlantic"" (cargo)","""Bouclier""","""Bourrasque""","""Branlebas""",...,Vêtement,Wagon,Waldeck-Rousseau,Ward la France Type 1000,Yang-Tsé,Zeppelin,Zodiac,Zouave,nan,Étang
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
res.sum().sort_values(ascending=False)

 Arbre                           4670
 Bateau                          2018
 Entraînement                    1918
 Exercice                        1882
 Portrait                        1833
                                 ...
2e RPIMa                            1
2e RZ                               1
 Formation féminine de l'air        1
3,7 in Ordnance QF                  1
Étang                               1
Length: 8482, dtype: int64